<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		<meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
		<link rel="stylesheet" type="text/css" href="./../css/common.css">
		<link rel="stylesheet" type="text/css" href="./../css/header.css">
		<link rel="stylesheet" type="text/css" href="./../css/main.css">
		<!--<link rel="stylesheet" type="text/css" href="./../css/contentBlock.css">-->
		<script type="text/javascript" src="./../js/component/header/HeaderDefault.js"></script>
		<script type="text/javascript" src="./../js/component/FlexLayout.js"></script>
		<!--<script type="text/javascript" src="./../js/component/ResizePanel.js"></script>-->
		<!--<script type="text/javascript" src="./../js/component/MainLayout.js"></script>-->
		<!--<script type="text/javascript" src="./../js/component/ContentBlockLayout.js"></script>-->
	</head>
	<body>
		<header-default></header-default>
		<flex-layout data-direction="row">
			<div class="content_wrapper options_wrapper" data-is_resize="true" data-grow="0.28" data-info="기능 옵션 도구">
				<div class="content" data-is_no_resize="">aaaaaaa</div>
			</div>
			<div class="content_wrapper rooms_wrapper" data-is_resize="true" data-grow="0.5" data-info="채널과 방 등">
				<div class="content">
					<div id="room-menu-wrapper">
						<ul>
							<li>최근 메시지</li>
							<li>스크랩</li>
							<li>반응 및 댓글</li>
							<li>즐겨찾기</li>
							<li>최근 메시지</li>
							<li>스크랩</li>
							<li>반응 및 댓글</li>
							<li>즐겨찾기</li>
							<li>최근 메시지</li>
							<li>스크랩</li>
							<li>반응 및 댓글</li>
							<li>즐겨찾기</li>
						</ul>
					</div>
					<div id="room-list-wrapper">
						<ul>
							<li>room1</li>
							<li>room2</li>
							<li>room3</li>
							<li>room4</li>
							<li>room5</li>
							<li>room1</li>
							<li>room2</li>
							<li>room3</li>
							<li>room4</li>
							<li>room5</li>
							<li>room1</li>
							<li>room2</li>
							<li>room3</li>
							<li>room4</li>
							<li>room5</li>
						</ul>
					</div>
					<div id="room-messenger-wrapper">
						<ul>
							<li>김주형1</li>
							<li>김주형2</li>
							<li>김주형3</li>
							<li>김주형4</li>
							<li>김주형5</li>
							<li>김주형6</li>
							<li>김주형1</li>
							<li>김주형2</li>
							<li>김주형3</li>
							<li>김주형4</li>
							<li>김주형5</li>
							<li>김주형6</li>
							<li>김주형1</li>
							<li>김주형2</li>
							<li>김주형3</li>
							<li>김주형4</li>
							<li>김주형5</li>
							<li>김주형6</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content_wrapper chating_wrapper" data-is_resize="true" data-grow="3" data-info="채팅 관련">
				<div class="content">
					<flex-layout class="chating_block content_wrapper" data-direction="column">
							<div class="chating_summary" data-grow="0.15" data-is_resize="true">
								<div class="content">a</div>
							</div>
							<div class="chating_info" data-is_resize="true">
								<div class="content" id="chatting_read_only">

								</div>
							</div>
							<div class="chating_content" data-grow="1" data-is_resize="true">
								<div class="content" id="chatting_write_only">
									<div id="toolbar" data-info="tool button wrap">
									</div>
									<free-will-editor>
										
									</free-will-editor>
								</div>
							</div>
					</flex-layout>
				</div>
			</div>
			<div class="content_wrapper thread_wrapper" data-is_resize="true" data-info="스레드 같은 거">
				<div is="content-block" data-direction="x" class="content" data-is_no_resize="" data-is_last_child="">abcdefghijk</div>
			</div>
		</main-layout>
		<script type="text/javascript" src="./../js/dist/mainPageRenderer.bundle.js"></script>
	</body>
</html>