<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		<meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
		<link rel="stylesheet" type="text/css" href="./../css/common.css">
		<link rel="stylesheet" type="text/css" href="./../css/header.css">
		<link rel="stylesheet" type="text/css" href="./../css/main.css">
		<link rel="stylesheet" type="text/css" href="./../css/component/layerPopupTemplate.css">
		<link rel="stylesheet" type="text/css" href="./../css/component/roomContainer.css">
		<link rel="stylesheet" type="text/css" href="./../css/component/chattingContainer.css">
		<!--<link rel="stylesheet" type="text/css" href="./../css/contentBlock.css">-->
		<script type="text/javascript" src="./../js/component/header/HeaderDefault.js"></script>
		<script type="text/javascript" src="./../js/component/FlexLayout.js"></script>
		<!--<script type="text/javascript" src="./../js/component/ResizePanel.js"></script>-->
		<!--<script type="text/javascript" src="./../js/component/MainLayout.js"></script>-->
		<!--<script type="text/javascript" src="./../js/component/ContentBlockLayout.js"></script>-->
	</head>
	<body>
		<header-default></header-default>
		<flex-layout data-direction="row">
			<div class="content_wrapper options_wrapper" data-is_resize="true" data-grow="0" data-info="기능 옵션 도구">
				<div class="content" data-is_no_resize="">aaaaaaa</div>
			</div>
			<div class="content_wrapper rooms_wrapper" data-is_resize="true" data-grow="0.55" data-info="채널과 방 등" style="min-width : 50px;">
				<div class="content">
					<flex-layout class="content_wrapper" id="room" data-direction="column">
					</flex-layout>
				</div>
			</div>

			<div class="content_wrapper chating_wrapper" data-is_resize="true" data-info="채팅 관련">
				<div class="content">
					<flex-layout class="chating_block content_wrapper" id="chatting" data-direction="column">
						<div class="chating_content" data-grow="0.9" data-is_resize="true">
							<div class="content" id="chatting_write_only">
								<div id="toolbar" data-info="tool button wrap">
								</div>
								<free-will-editor>
									
								</free-will-editor>
							</div>
						</div>
					</flex-layout>
				</div>
			</div>
			<div class="content_wrapper thread_wrapper" id="thread" data-is_resize="true" data-grow="0" data-info="스레드 같은 거">
				<div is="content-block" data-direction="x" class="content" data-is_no_resize="" data-is_last_child="">abcdefghijk</div>
			</div>
		</flex-layout>
		<script type="text/javascript" src="./../js/dist/mainPageRenderer.js"></script>
	</body>
</html>