<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../static/css/opening.css">
		<link rel="stylesheet" type="text/css" href="./../static/css/progress.css">
		<script type="text/javascript" src="./../static/js/component/progress/LodingBarDefault.js"></script>
	</head>
	<body>
		<main id="container">
			<div is="loding-bar-default" class="loding_bar_wrapper" data-is_status_text="">
			</div>
		</main>
		<script type="text/javascript" src="./../static/js/dist/openingRenderer.bundle.js"></script>
	</body>
</html>