<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../css/opening.css">
		<link rel="stylesheet" type="text/css" href="./../css/progress.css">
		<script type="text/javascript" src="./../js/component/progress/LodingBarDefault.js"></script>
		<title>Grease Lightning Chat</title>
	</head>
	<body>
		<main id="container">
			<loding-bar-default is="loding-bar-default" class="loding_bar_wrapper" data-is_status_text="">
			</loding-bar-default>
		</main>
		<script type="text/javascript" src="./../js/dist/openingRenderer.js"></script>
	</body>
</html>