<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5.0, viewport-fit=cover, interactive-widget=resizes-visual">
		<link rel="stylesheet" type="text/css" href="./../css/common.css">
		<!--<script type="text/javascript" src="./../js/component/ResizePanel.js"></script>-->
		<!--<script type="text/javascript" src="./../js/component/MainLayout.js"></script>-->
		<!--<script type="text/javascript" src="./../js/component/ContentBlockLayout.js"></script>-->
		<title>Grease Lightning Chat</title>
	</head>
	<body>
	</body>
</html>