<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../css/common.css">
		<link rel="stylesheet" type="text/css" href="./../css/header.css">
		<link rel="stylesheet" type="text/css" href="./../css/workspacePage2.css">
		<script type="text/javascript" src="./../js/component/header/HeaderDefault.js"></script>
		<title>Greased Lightning Messenger</title>
	</head>
	<body>
		<header-default data-is_no_menu="" data-is_no_search=""></header-default>
        <div class="content_wrapper">
            <div class="get_start_wrapper">
                <div class="get_start_container">
                    <!-- 
                    <button type="button" class="get_start">Get Start</button>
                    -->
                    <div class="content_container">
                        <div class="content_item">
                            More Beautiful
                        </div>
                        <div class="content_item">
                            More Classy
                        </div>
                        <div class="content_item">
                            More Reactive
                        </div>
                        <div class="content_item">
                            Makes Your Work
                        </div>
                        <div class="content_item ">
                            BIRD PLUS IS
                        </div>
                    </div>
                    <div class="create_room_wrapper">
                        <div class="create_room_container">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
	<script type="text/javascript" src="./../js/renderer/workspacePageRenderer2.js"></script>
</html>