<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../css/common.css">
		<link rel="stylesheet" type="text/css" href="./../css/header.css">
		<link rel="stylesheet" type="text/css" href="./../css/workspacePage.css">
		<link rel="stylesheet" type="text/css" href="./../css/component/simpleOption.css">
		<title>Greased Lightning Messenger</title>
	</head>
	<body>
		<header-default data-is_no_menu="" data-is_no_search=""></header-default>
		<div id="container">
			<canvas id="renderCanvas"></canvas>
		</div>
	</body>
	<script type="module" src="./../js/dist/workspace3DPageRenderer.js"></script>
</html>