body, html{
    width: 100vw;
    height: 100vh;
    margin: 0;
	display: inline-flex;
	flex-direction: column;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar, html::-webkit-scrollbar{
	display: none;
}

body > #container{
	display: inline-flex;
	height: 100%;
	width: 100%;
	overflow: auto;
	overflow-wrap: revert-layer;
	-ms-overflow-style: none;
	scrollbar-width: none;
	justify-content: center;
    align-items: center;
}


/* a태그 색상 검은색 */
.non_color{
	text-decoration: none;
    color: black;
}


/* summary 마크 화살표 제거 */
summary::marker {
    display: none;
    /*font-size: 1.5rem;*/
}

/* summary 마크 화살표 제거 */
summary{
    list-style: none ;
}

/* summary 마크 화살표 제거 */
summary::marker {
    display: none;
    /*font-size: 1.5rem;*/
}

/* summary 마크 화살표 제거 */
summary{
    list-style: none ;
}

/* li 표시 제거 */
ul {
    list-style: none;
    padding: 0;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/*
li{
	display: list-item;
    text-align: -webkit-match-parent;
}
*/

label{
	font-family: serif;
	font-size: 1.2rem;
	color: #46464685;
	font-weight: bold;
}

input, button{
	outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p {
    font-size: 1.3rem;
}

.direction_up{
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.direction_up_right{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.direction_right{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.direction_down_right{
	transform: rotate(-0deg);
	-webkit-transform: rotate(-0deg);
}
.direction_down{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.direction_down_left{
	transform: rotate(90deg);
	-webkit-transform: rotate(135deg);
}
.direction_left{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.direction_up_left{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.loading_rotate{
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #3498db;
	width: 20vmax;
	height: 20vmax;
	margin: 0 auto;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide_scrollbar{
	-ms-overflow-style: none;
    scrollbar-width: none;
}
.hide_scrollbar::-webkit-scrollbar{
	display: none;
}

@keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    animation-name: shake;
	animation-duration: 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
}

input[type="checkbox"]{
	accent-color: black !important;
    width: 2vw !important;
    height: 3vh !important;
}

.pointer{
	cursor: pointer;
}

.custom_details{
	border: none;
    outline: none;
    background: none;
	cursor: pointer;
}
*{
	font-family: revert;
}

.list_scroll.list_scroll-y{
	position: relative;
	overflow-y: auto;
	overflow-x: clip;
}
.list_scroll.list_scroll-x{
	position: relative;
	overflow-y: clip;
	overflow-x: auto;
}
.list_scroll::-webkit-scrollbar{
	display: none;
}
.list_scroll:hover::-webkit-scrollbar{
	display: initial;
    width: 9px;
    height: 9px;
}
.list_scroll:hover::-webkit-scrollbar-track{
	background: #00000040;
    border-radius: 100px;
    box-shadow: inset 0 0 5px #000000fc;
}
.list_scroll:hover::-webkit-scrollbar-thumb {
	background: #0c0c0c38;
    border-radius: 100px;
    box-shadow: inset 0 0 5px #000000;
}
.list_scroll:hover::-webkit-scrollbar-thumb:hover {
	/*background: #44070757;*/
	background: #34000075; 
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.css-gg-list{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px;
    background: white;
}
.css-gg-list::after,
.css-gg-list::before{
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 2px;
    background: currentColor;
    top: 3px;
    left: 3px;
    box-shadow:0 4px 0, 0 8px 0;
}
.css-gg-list::after{
    border-radius: 3px;
    width: 8px;
    left: 7px;
}

.css-gg-folder-add {
    background:linear-gradient(to left,currentColor 10px,transparent 0)no-repeat center center/2px 6px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 16px;
    border: 2px solid;
    border-radius: 3px;
}
.css-gg-folder-add::after,
.css-gg-folder-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
.css-gg-folder-add::before {
    background: currentColor;
    left: 6px;
    width: 6px;
    height: 2px;
    top: 5px;
}
.css-gg-folder-add::after {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: -5px;
}

.css-gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px;
    background: white;
}
.css-gg-add::after,
.css-gg-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}
.css-gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}
.css-gg-remove {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px;
    background: none;
}
.css-gg-remove::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}
.marker::before{
    content: '▶'
}
.marker[data-is_open="true"]::before{
    content: '▼'
}
.marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    background: none;
    border: none;
    outline: none;
}

[data-direction] > * > *{
    height: 100%;
    width: 100%;
}

.css-gg-pen {
    box-sizing: border-box;
    position: absolute;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 11px;
    height: 2px;
    border-right: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background: white;
    top: 40%;
    left: 40%;
    right: 50%;
    bottom: 50%;
}
.css-gg-pen::after,
.css-gg-pen::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.css-gg-pen::before {
    background: currentColor;
    border-left: 1px;
    right: -7px;
    width: 3px;
    height: 2px;
    border-radius: 1px;
    top: 0px;
}
.css-gg-pen::after {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 6px dotted;
    left: -8px;
    top: -2px;
}

.icon_button{
    border: none;
    background: none;
    position: relative;
}
.icon_button::before{
    content: "\00a0";
}

.css-gg-arrows-breake-v {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 20px;
    background:
        linear-gradient(
            to left,currentColor 10px,
            transparent 0)
            no-repeat center top/2px 8px,
        linear-gradient(
            to left,currentColor 10px,
            transparent 0)
            no-repeat center bottom/2px 8px,
        linear-gradient(
            to left,currentColor 10px,
            transparent 0)
            no-repeat center 7px/10px 2px,
        linear-gradient(
            to left,currentColor 10px,
            transparent 0)
            no-repeat center 11px/10px 2px
}
.css-gg-arrows-breake-v::after,
.css-gg-arrows-breake-v::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    left: 2px
}
.css-gg-arrows-breake-v::after {
    border-left: 2px solid;
    border-top: 2px solid
}
.css-gg-arrows-breake-v::before {
    border-right: 2px solid;
    border-bottom: 2px solid;
    bottom: 0
}
