body{
    width: 100vw;
    height: 100vh;
    margin: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/*
background: linear-gradient(to right, #EAEAEA -274%, #2B2B2B 96%);
*/
body::-webkit-scrollbar {
	display: none;
}

#container{
	display: inline-flex;
    height: 90%;
    width: 100vw;
	overflow: auto;
	overflow-wrap: revert-layer;
	-ms-overflow-style: none;
    scrollbar-width: none;
}
#container::-webkit-scrollbar{
	display: none;
}

div[is="content-block"]{
    height:100%;
	min-width: 100%;
}

/*content wrapper 크기 조절*/
.content_wrapper{
	position: relative;
	display: flex;
}
.content_wrapper.options_wrapper{
    background-color: aliceblue;
}
.content_wrapper.rooms_wrapper{
    background-color: antiquewhite;
}
.content_wrapper.chating_wrapper{
	width: 100vw;
    background-color: #f3f3f3;
}
.content_wrapper.thread_wrapper{
	width: 100vw;
    background-color: aquamarine;
}

/* chating_wrapper 크기 조절*/
div.chating_block{
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
	overflow-y: clip;
	overflow-wrap: revert-layer;
	width: 100%;
}

div.chating_block .chating_summary{
	height: 20%;
}
div.chating_block .chating_info{
	height: 50%;
}
div.chating_block .chating_content{
	height: 30%;
	display: flex;
    flex-direction: column;
}

/* 채팅 영역 시작 [S] */
div[is="free-will-editor"]{
	height: 100%;
    overflow: auto;
    overflow-wrap: anywhere;
	outline: none;
	background-color: white;
	padding-top: 0.6%;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
div[is="free-will-editor"]::-webkit-scrollbar {
	display: none;
}

#toolbar{
	background-color: #d7d7d7cf;
	padding-left: 1%;
    padding-right: 1%;
    border-top: ridge 2px;
    border-color: #dbdbdb;
	overflow: auto;
    overflow-wrap: anywhere;
    display: inline-table;
}

#toolbar > button{
	background: none;
	border: none;
	outline: none;
	font-family: revert;
    font-weight: 900;
	color: #7c7c7cd1;
	padding-bottom: 0.3%;
    padding-top: 0.9%;
	border-bottom: groove 1px #ffffff40;
}

#toolbar > button:hover{
	transition: all 0.7s;
	background-color: #c7c7c7;
}

[data-tool_status="active"], [data-tool_status="connected"]{
    color: #020202 !important;
}

[is="free-will-editor"] > :nth-child(1)::before{
    content: attr(placeholder);
    position: absolute;
    color: #d1d1d1;
    font-weight: 600;
    font-family: revert;
	cursor: text;
}
/* 채팅 영역 종료 [E] */