/*
background: linear-gradient(to right, #EAEAEA -274%, #2B2B2B 96%);
*/

/*
div[is="content-block"]{
    height:100%;
	min-width: 100%;
}
*/
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/*content wrapper 크기 조절*/
.content_wrapper{
	position: relative;
	display: flex;
}

/* chating_wrapper 크기 조절*/
.chating_block{
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
	overflow-y: clip;
	overflow-wrap: revert-layer;
	width: 100%;
}

.chating_block .chating_content{
	display: flex;
    flex-direction: column;
}

/* 채팅 영역 시작 [S] */

body.default .toolbar{
	background-color: #d7d7d7cf;
    padding-left: 1%;
    padding-right: 1%;
    /*border-top: ridge 2px;*/
    border-color: #dbdbdb;
    overflow-wrap: anywhere;
    display: flex;
    flex-wrap: wrap;
}

.toolbar button{
	background: none;
	border: none;
	outline: none;
	font-family: revert;
    font-weight: 900;
	color: #7c7c7cd1;
    padding-bottom: 3.675px;
    padding-top: 5.125px;
	border-bottom: groove 1px #ffffff40;
	transition: all 0.7s;
    min-height: 22px;
}

.toolbar > button:hover{
	background-color: #c7c7c7;
}

[data-tool_status="active"], [data-tool_status="connected"]{
    color: #d94c4c !important;
}

/* 채팅 영역 종료 [E] */