#chatting_head_wrapper .chatting_head_container{
    flex-flow: wrap;
}
#chatting_head_wrapper .chatting_head_container *:not(h3) {
    font-size: 1.1rem;
}
#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* chatting head info container [S]*/
#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_info_container{
    display: flex;
    align-items: center;
    padding: 0 1% 0 1%;
    justify-content: flex-start;
    gap: 1vw;
    width: 100%;
}

#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_info_container > *{
    margin: 0;
}

#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_info_container .chatting_head_joined_count{
    color: #c0cbaa;
}
/* chatting head info container [E]*/

/* chatting head_button container [S]*/
#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_button_container{
    display: flex;
    align-items: center;
    padding: 0 1% 0 1%;
    justify-content: flex-end;
    gap: 1.3vw;
    width: 100%;
}
#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_button_container .favorites_add_button{
    border: none;
    outline: none;
    color: #ed7b7b;
    border-radius: 40%;
    font-size: x-large;
    background: none;
}
/*#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_button_container .favorites_button.apply{

}*/

#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_button_container .member_add_button{
    border: none;
    outline: none;
    background: none;
    border-radius: 40%;
    font-size: x-large;
    font-weight: bold;
}
#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_button_container .member_add_button:active{
    background: #cbcbcb;
    box-shadow: inset 0px 2px 4px 0px #00000029;
}

#chatting_head_wrapper .chatting_head_container .chatting_head_info_wrapper .chatting_head_info_search_container .chatting_head_search_members{
    border: none;
    background: none;
    border-bottom: solid 1px #edd4ff;
    border-left: solid 1px #d3d3d3;
}
/* chatting head_button container [E]*/

#chatting_head_wrapper .chatting_head_container .chatting_head_joined_members{
    display: flex;
    white-space: nowrap;
    gap: 1vw;
    min-width: 1px;
    min-height: 100%;
}
#chatting_head_wrapper .chatting_head_container .chatting_head_joined_members li > *{
    border-right: double 3px #cdb1b1;
}
#chatting_head_wrapper .chatting_head_container .chatting_head_joined_members.list_scroll.list_scroll-x:hover::-webkit-scrollbar{
    height: 7px;
}