.content_wrapper.rooms_wrapper{
    background-color: antiquewhite;
}
.content_wrapper.rooms_wrapper .content{
    display: inline-flex;
    overflow: auto;
    overflow-wrap: revert-layer;
}

.content_wrapper.rooms_wrapper .room_container{
	position: relative;
}
.content_wrapper.rooms_wrapper .room_container .room_content_list{
	width: 100%;
    min-width: 10vw;
	white-space: nowrap;
}
.content_wrapper.rooms_wrapper .room_container .room_sticky{
	position: sticky;
	top: 0;
	background-color: #c3c3c3;
    box-shadow: inset 0 0 6px #c381818f;
}
.content_wrapper.rooms_wrapper .room_container .room_sticky .room_functions{
	box-shadow: 0px 3px 10px #00000029;
}
.content_wrapper.rooms_wrapper .room_container .room_sticky .custom_details_summary{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
}

.content_wrapper.rooms_wrapper .room_container .room_sticky .custom_details_summary > *:nth-child(1){
    width: 12vw;
    min-width: fit-content;
}

.content_wrapper.rooms_wrapper .room_container .search_name{
    width: 100%;
}

.content_wrapper.rooms_wrapper .room_container .room_content_list_scroll .room_scrollbar{
	position: absolute;
	width: 10%;
	top:0;
	right: 0;
	background-color: aliceblue;
	display:none;
}